@font-face {
    font-family: Apple;
    src: url("Fonts/sf-pro-display_regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    /* font-family: Apple; */
    /* background-color: black; */
    box-sizing: border-box;
}


body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    max-width: 1200px;
    /* 限制最大宽度 */
    margin: 0 auto;
    /* 水平居中 */
    width: 100%;
    /* 在小屏幕自然收缩 */
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-logo {
    font-weight: 600;
    font-size: 1.1rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-link {
    font-size: 0.95rem;
    color: #4b5563;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #111827;
}

.nav-divider {
    width: 1px;
    height: 16px;
    background-color: #e5e7eb;
    transition: background-color 0.3s ease;
}

.nav-icon {
    font-size: 0.9rem;
    font-weight: 600;
    color: #4b5563;
}

body.dark-mode .nav-link {
    color: #A0A0A0;
}

body.dark-mode .nav-link:hover {
    color: #FFFFFF;
}

body.dark-mode .nav-divider {
    background-color: #3F3F46;
}

body.dark-mode .nav-icon {
    color: #A0A0A0;
}

@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-left {
        flex-direction: column;
        gap: 1rem;
    }
}


#main {
    position: relative;
    overflow: hidden;
    height: 480vh;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    /* background-color: white; */
}

#page2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

/* hero-section img */
.hero-section {
    height: 80vh;
    width: 100vw;
    color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* background-color:black; */
    background-image: url("../images/Hero_Dog_Black.JPG");
    background-position: center;
    overflow: hidden;
    position: relative;

}

.hero {
    background-size: cover;
}

.hero-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero-section-img img{
    height: 365px;
    width: 1520px;
} */

.hero-section-p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 11%;
    gap: 10px;
}

.hero-section-p h2 {
    font-size: 4vw;
}

.hero-section-p h3 {
    font-size: 2vw;
}

.hero-section-p img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero-section2 {
    height: 80vh;
    width: 100vw;
    color: rgb(255, 255, 255);
    background-image: url("../images/Standard_White.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: 5px;
}


.hero-section3 {
    height: 80vh;
    width: 100vw;
    color: rgb(255, 255, 255);
    background-image: url("../images/Engineer_Black.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: 5px;
}


.text1 {
    color: black;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 21px;
}

.links2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    line-height: 1px;
}

.links a {
    color: #2997ff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.hero-section4 {
    width: 100%;
    display: flex;
    /* padding-top: 3px; */

}

.section4-1 {
    width: 50%;
    background-image: url("../images/Sentry_Black.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3px;
}


.section4-2 {
    width: 50%;
    background-image: url("../images/Drone_White.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3px;
}

.text3 {
    color: black;
}

.section5-1 {
    width: 50%;
    background-image: url("../images/Dart_White.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3px;

}

.section5-2 {
    width: 50%;
    background-image: url("../images/Radar_Black.JPG");
}

.text4 {
    color: black;
}

.text4 p {
    font-size: 20px;
    line-height: 3px;
}

.section6-1 {
    width: 50%;
    background-image: url("Assests/card4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px;
}

.section6-2 {
    width: 50%;
    background-image: url("Assests/card5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text5 {
    color: black;
    font-size: 20px;
}

.text6 {
    color: white;
    font-size: 20px;
}

/* sliding window css */
.slider {
    margin: 3px;
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #b42929;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 60%;
}

.swiper-button-next {
    padding-right: 30px;
}

.s1 {
    background-image: url("../images/resp1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.s2 {
    background-image: url("../images/resp2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.s3 {
    background-image: url("../images/resp3.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.s4 {
    background-image: url("../images/resp4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.s5 {
    background-image: url("../images/resp5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* End */


/* footer */
footer {
    /* align-items: center; */
    height: 100px;
    /* width: 100vw; */
    background-color: #e8e8ed;
    /* opacity: 0.36; */
    color: #9d9da4;
}

.footer1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 0px 250px 0px 220px;

}

.footer1 a {
    color: #6b6b71;
}

.footer1 .text1 {
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer1 .text2 {
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer1 .text3 {
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer1 .text4 {
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer3 {
    border-top: 1px solid rgba(0, 0, 0, 0.222);
    /* display: flex; */
    /* justify-content: center; */
    padding-left: 30px;
    align-items: center;
    gap: 30px;
    margin: 30px 250px 0px 250px;
}

.panel1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel2 {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.panel3 {
    display: flex;
    justify-content: end;
}

.panel2 li {
    list-style: none;
    padding: 6px;
    cursor: pointer;
}

.panel2 li:hover {
    text-decoration: underline;
    padding: 6px;
    cursor: pointer;
}

.panel3 li {
    list-style: none;
    padding-left: 100px;
    cursor: pointer;
}

.footer2 {
    line-height: 189%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 250px 0px 250px;
    cursor: default;
}

.footer2 a:hover {
    text-decoration: underline;
}

.footer2 a {
    text-decoration: none;
    color: #9d9da4;
}

.sub-footer1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub-footer2 {
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-footer3 {
    position: relative;
    top: -48px;
    display: flex;
    flex-direction: column;
}

.sub-footer4 {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
}

.sub-footer5 {
    position: relative;
    top: 7px;
    display: flex;
    flex-direction: column;
}


/* footer end */

@media (max-width:500px) {
    #main {
        height: 773vh;
    }


    .hero-section2 {
        background-image: url("Assests/iphone15white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text1 h2 {
        font-size: 9vh;
    }

    .text1 h3 {
        font-size: 2vh;
    }

    .links {
        font-size: 3vh;
    }

    .hero {
        background-image: url("Assests/iphon15resp.jpg");
    }

    .hero-p h2 {
        font-size: 5vh;
    }

    .hero-p h3 {
        font-size: 2vh;
        font-weight: 400;
    }

    .hero-section3 {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .text0 h3 {
        font-size: 3vh;
    }

    .hero-section4 {
        justify-content: center;
        align-items: center;
        background-size: contain;
        flex-direction: column;
        /* height: 100%; */
        height: 150vh;
    }

    .section5-1 {
        background-image: url("Assests/card2.jpg");
    }

    .text1 h3 {
        font-weight: 400;
    }

    .text1 h2 {
        font-size: 6vh;
    }

    .text3 h3 {
        font-size: 3vh;
    }

    .text4 h3 {
        font-size: 5vh;
    }

    .text6 h3 {
        font-size: 6vh;
    }

    .text5 .links a {
        font-size: 2.5vh;
    }

    .s1 {
        background-image: url("../images/resp1.jpeg");
    }

    .s2 {
        background-image: url("../images/resp2.jpeg");
    }

    .s3 {
        background-image: url("../images/resp3.jpeg");
    }

    .s4 {
        background-image: url("../images/resp4.jpeg");
    }

    .s5 {
        background-image: url("../images/resp5.jpeg");
    }

    footer {
        width: 414px;
        height: 1450px;
    }

    .footer1 {
        margin: 0;

    }

    .footer3 {
        flex-direction: column;
        align-items: end;
        margin: 0;
        font-size: 17px;
        padding-right: 147px;
    }

    .panel1 {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 10px;
        position: relative;
        right: -19%;
    }

    .panel2 {
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-left: 117px;
        right: 54%;
        padding-bottom: 55px;
    }

    .panel3 {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 55vw;
        font-size: 14px;
    }

    .panel3 a {
        color: #2997ff;
    }

    .footer2 {
        position: relative;
        right: 53%;
        bottom: 4%;
        display: block;
    }

    .sub-footer1 {
        width: 140px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .sub-footer2 {
        width: 140px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .sub-footer3 {
        width: 140px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .sub-footer4 {
        width: 140px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .sub-footer5 {
        width: 140px;
        position: absolute;
        line-height: 22px;
        padding-bottom: 28px;
        top: 78%;
    }

    .footer2 a {
        display: none;
    }

}